<launch>

    <!-- <param name="use_sim_time" value="false"/> -->
     <!-- <rosparam file="$(find fennec_control)/config/ackermann.yaml" command="load"/> -->

    <node name="rplidarNode"          pkg="rplidar_ros"  type="rplidarNode" output="screen">
      <param name="serial_port"         type="string" value="/dev/ttyUSB0"/>
      <param name="serial_baudrate"     type="int"    value="115200"/><!--A1/A2 -->
      <!--param name="serial_baudrate"     type="int"    value="256000"--><!--A3 -->
      <param name="frame_id"            type="string" value="base_laser"/>
      <param name="inverted"            type="bool"   value="false"/>
      <param name="angle_compensate"    type="bool"   value="true"/>
   </node>

   <include file="$(find fennec_control)/launch/fennec_control.launch"></include>
   
   <include file="$(find fennec_description)/launch/robot_description.launch"></include>

    <include file="$(find fennec_description)/launch/camera.launch"></include>

   <!-- <include file="$(find fennec_bringup)/launch/rviz.launch"></include> -->

   <!-- <node pkg="move_base" type="move_base" respawn="false" name="move_base" output="screen">
      <rosparam file="$(find fennec_bringup)/config/costmap_common_params.yaml" command="load" ns="global_costmap" /> 
      <rosparam file="$(find fennec_bringup)/config/costmap_common_params.yaml" command="load" ns="local_costmap" />
      <rosparam file="$(find fennec_bringup)/config/local_costmap_params.yaml" command="load" />
      <rosparam file="$(find fennec_bringup)/config/global_costmap_params.yaml" command="load" /> 
      <rosparam file="$(find fennec_bringup)/config/base_local_planner_params.yaml" command="load" />
      <rosparam file="$(find fennec_bringup)/config/planner.yaml" command="load" />
      <param name="base_local_planner" value="teb_local_planner/TebLocalPlannerROS" />
      <remap from="/cmd_vel" to="/ackermann/cmd_vel"></remap>
      <param name="controller_frequency" value="10.0" />
   </node> -->

    <!-- <node pkg="rosserial_python" type="serial_node.py" name="serial_node">
        <param name="_port" type="string" value="/dev/ttyACM0"/>
        <param name="_baud" type="int" value="115200"/>
    </node> -->

</launch> 